# IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
.mvn/wrapper/maven-wrapper.jar

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temp
tmp/
temp/